<!DOCTYPE html>
<html>
	<head>
		<title>Simple Express 4.x boilerplate</title>
		{{> head}}
	</head>
	<body>
		<h2>About</h2>
		<p>SE4B is a express 4.x boilerplate designed with simplicity in mind. It is a fork of <a href="https://github.com/atufkas/yanexbo">atufkas/yanexbo.</a></p>
		<p>This boilerplate utilizes mustacheJS for templating, and is configured to be used with mongoose.</p>
		<h2>Getting Started</h2>
		<p>Alter the html files in /views/ and /view/partials</p>
		<p>Alter the css files in /public/stylesheets/</p>
		<p>Alter your routes in express-routes.js and /routes/</p>

		<h2>Here is an example route</h2>
		<p><a href="/hello/dump-request-headers">Example route</a></p>
		<script src="/javascripts/app.js"></script>
	</body>
</html>


